<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <script src="/src/script-home.js"></script>
   </head>
<body>
<section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> 
  <div class="current-task">
  <div class="description">Welcome! This website is designed for finding the shortest distance between two given vertices in a weighted, undirected graph using the Dijkstra's algorithm. 
    To define the graph, please use the adjacency matrix.</div>
    <form id="csvUploadForm" action="/upload" method="post" enctype="multipart/form-data">
     <div class="input-data">
       <label for="startVertex">Start Vertex:</label>
        <input type="number" id="startVertex" name="startVertex"  required>
        <br>

        <label for="endVertex">End Vertex:</label>
        <input type="number" id="endVertex" name="endVertex" required>
        <br>
        <input type="submit" value="Calculate dist">
    </div>
     <h2>Upload CSV File</h2>
   <input type="file" id="csvFileInput" accept=".csv" name="csvFile" required>
    </form>
   <div id="tasks">
    {{#each tasks}}
    <div class="general-task">
        <div class="task">
            <h3>Task ID: {{taskID}}</h3>
            <p>{{formatDateTime requestDateTime}}</p>
            <p>Start: {{startV}}</p>
            <p>End: {{endV}}</p>
            <p>Min Distance: {{min_distance}}</p>
        </div>
        <div class="container-progress">
            <progress id="execution" max="100" value="{{percents}}">{{percents}}%</progress>
            <div class="percent">{{percents}}%</div>
            {{!-- <button class="btn-stop">Stop</button> --}}
            <button class="btn-cancel">Cancel</button>
            <span class="marker">Actual</span>
        </div>
    </div>
    {{/each}}
     <div class="general-task">
     <div class="task">
      <h3>Task ID: - </h3>
      <p>00:00:00 00.00.0000</p>
       <p>Start: - </p>
      <p>End: - </p>
      <p>Min Distance: - </p>     
    </div>
     <div class="container-progress">
     <progress id="execution" max="100" value="0">0%</progress>    
     <div class="percent">0 %</div>
     {{!-- <button class="btn-stop">Stop</button> --}}
     <button class="btn-cancel">Cancel</button>
      <span class="marker">None</span>
     </div>
     </div>      
   </div>

    <button  id="dropdown-button">{{naming}}
         <div id="dropdown-content" class="hidden">
        <a href="#">History</a>
        <a href="/">Sign out</a>
    </div>
    </button>
  </div>
  <div class="tasks"></div>
</section>
</body>
</html>
